.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", serif;
  color: #ffffff;
  resize: both;
}
canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: none;
}
.duck {
  position: absolute;
  z-index: 1;
  width: 30vh;
}
.current-score {
  top: 88vh;
  left: 71vw;
}
.level {
  right: 2vw;
}
.score {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 4.5vh;
}
